.header {
    background-color: #383839;
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    /*width: 100px;*/
    height: 27px;
    margin-left: 20px;
}

.header-navbar {
    margin-right: 20px;
}

.navbar-menu {
    display: flex;
}

.navbar-google-login {
    background-color: transparent;
    border: none;
    display: inline-block;
}

.navbar-dropdown,
.logout {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.navbar-dropdown-trigger {
    color: #FFFFFF;
    min-width: 120px;
}

.navbar-dropdown-trigger:link,
.logout, .logout:link {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3em;
    color: #FFFFFF;
    font-weight: 100;
}

.navbar-dropdown-content {
    min-width: 120px;
    margin-top: 13px;
    background-color: #FFFFFF;
}

.navbar-dropdown-content-list li:hover {
    background-color: #EEE;
}

.navbar-dropdown-content a:link {
    text-decoration: none;
}

.navbar-dropdown-content-list {
    list-style: none;
    padding-left: 0px;
}

.navbar-dropdown-content-list li {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #777;
}

.navbar-dropdown-content-list a:link {
    text-decoration: none;
}
