#app {
  display: flex;

  align-items: flex-start;
  justify-content: space-around;
}

.light {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.two_wide {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  width: 300px;
  padding: 10px;
}

.range {
  width: 100%;
  padding: 10px;
}

.container {
  width: 100%;
  height: 100%;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  display: flex;
  justify-content: center
}

.app {
  height: 100%;
  margin-top: 54px;
}


.app-wrapper .header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.primary-button {
  cursor: pointer;
  height: 34px;
  width: 100px;
  background-color: #3c8dbc;
  border: 1px solid #367fa9;
  color: #FFF;
  font-size: 12px;
  font-weight: 100;
}

.primary-button:active {
  background-color: #367fa9;
}

/* Dropdown */
.dropdown {
  display: inline-block;
}

.dropdown__content {
  position: absolute;
  display: none;
  z-index: 999;
}

.dropdown--active .dropdown__content {
  display: block;
}