#app {
  display: flex;

  align-items: flex-start;
  justify-content: space-around;
}

.control_group {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.two_wide {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  width: 300px;
  padding: 10px;
}

.zone {
  padding-left: 20px;
  padding-right: 20px;
}

.range {
  width: 100%;
  padding: 10px;
}

.container {
  width: 100%;
  height: 100%;
  /*padding-left: 20px;*/
  /*padding-right: 20px;*/
  display: flex;
  justify-content: center
}

.app {
  height: 100%;
  margin-top: 54px;
}


.app-wrapper .header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.primary-button {
  cursor: pointer;
  height: 34px;
  width: 100px;
  background-color: #3c8dbc;
  border: 1px solid #367fa9;
  color: #FFF;
  font-size: 12px;
  font-weight: 100;
}

.primary-button:active {
  background-color: #367fa9;
}

/* Dropdown */
.dropdown {
  display: inline-block;
}

.dropdown__content {
  position: absolute;
  display: none;
  z-index: 999;
}

.dropdown--active .dropdown__content {
  display: block;
}

.header {
  background-color: #383839;
  padding-top:10px;
  padding-bottom:10px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  /*width: 100px;*/
  height: 27px;
  margin-left: 20px;
}

.header-navbar {
  margin-right: 20px;
}

.navbar-menu {
  display: flex;
}

.navbar-google-login {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.navbar-dropdown,
.logout {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.navbar-dropdown-trigger {
  color: #FFFFFF;
  min-width: 120px;
}

.navbar-dropdown-trigger:link,
.logout, .logout:link {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3em;
  color: #FFFFFF;
  font-weight: 100;
}

.navbar-dropdown-content {
  min-width: 120px;
  margin-top: 13px;
  background-color: #FFFFFF;
}

.navbar-dropdown-content-list li:hover {
  background-color: #EEE;
}

.navbar-dropdown-content a:link {
  text-decoration: none;
}

.navbar-dropdown-content-list {
  list-style: none;
  padding-left: 0px;
}

.navbar-dropdown-content-list li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  line-height: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #777;
}

.navbar-dropdown-content-list a:link {
  text-decoration: none;
}
